{% extends "layouts/app.twig" %}

{% block body %}

    {% include "components/banner.twig" with {
        type: acf.banner.format,
        heading: acf.banner.heading,
        image: acf.banner.img,
        logo: acf.banner.logo,
        link: acf.banner.link
    } %}

    {% include "components/info-box.twig" with {
        background: acf.info_box.background,
        padding: acf.info_box.padding,
        is_link: acf.info_box.is_link,
        link: acf.info_box.link,
        text: acf.info_box.text
    } %}

    <section class="gifts">
        <div class="gifts__container container">
            {% set count = 1 %}
            {% for gift in acf.gifts %}
                {% include "components/gift.twig" with {
                    name: gift.name,
                    description: gift.description,
                    footer: gift.footer,
                    image: gift.image,
                    count: count
                } %}
                {% set count = count + 1 %}
            {% endfor %}
            <p class="gifts__disclaimer">{{acf.disclaimer}}</p>
        </div>
    </section>

    {% include "components/info-box.twig" with {
        background: acf.info_box_2.background,
        padding: acf.info_box_2.padding,
        is_link: acf.info_box_2.is_link,
        link: acf.info_box_2.link,
        text: acf.info_box_2.text
    } %}
{% endblock %}